<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<style type="text/css" title="currentStyle">
	@import "../../resources/css/normalize.min.css";
	@import "../../resources/css/style.css";
    @import "../../resources//css/demo_page.css";
    @import "../../resources//css/jquery.dataTables.css";
	@import "../../resources//css/TableTools.css";
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="../../resources/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="../../resources//js/jquery.dataTables.columnFilter.js"></script>
<script type="text/javascript" charset="utf-8"  src="../../resources//js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8"  src="../../resources//js/TableTools.min.js"></script> 

<script>

			$(document).ready(function() {
				
				$('#detailsTable').dataTable({
//					"sDom": '<"H"Tfr>t<"F"ip>',
					"sDom": 'T<"clear">lfrtip',
					"bJQueryUI": true,
					"bPaginate": false,
					"bFilter": true, 
					"oLanguage": {
				      "sSearch": "Filter data:",
					  "sInfo": ""
				    },
					"oTableTools": {
						"aButtons": [
							"copy", "xls"
							],
						"sSwfPath": "../../resources/media/copy_csv_xls_pdf.swf"
					},
					"bProcessing": false,
					//"sScrollY": "300px",
					//"bScrollCollapse": true
				});
				
//				$('#detailsTable').dataTable().columnFilter();
				
				$('#formTable').dataTable( {
					"bStateSave": true,
					"bSort" : true,
					"bPaginate": false,
					"bFilter": false, 					
					"iDisplayLength": 1,
					"bLengthChange": false,
					"oLanguage": {
						"sInfo": ""
					}
					
				} );
				
				$("input[name='submit']").click(function(){
					    $('#results').toggle();
				});
				
				$('#advancedLink').click(function() {
					$('#advancedFields').toggle();
				});

		        $("input[type='date']").datepicker();

			
			} );
		</script>

</head>
<body class="theBody">
<img alt="Kemper" src="../../resources/images/Kemper_Logo.png">
<div id="results" >
  <H3 align="center"="margin-bottom: 3px"><a href="searchView.html">Return to Search</a> -> Form Details</H3>

<table id="formTable">
	<thead>
    	<tr>
	    	<th>Form Primary Data</th>
        </tr>
    </thead>
    <tbody>
    	<!-- repeat rows for each form results -->
    	<tr>
        	<td>
            	<!-- data in inner table -->
                <table>
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Form Type</td>
                        <td>Jacket</td>
                        <td><a href="../../../testResources/mooreform.pdf"><img src="../../resources/images/icon_pdf.png" width="44" height="41"/></a></td>
                    </tr>
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Form Number</td>
                        <td>AK1838</td>
                    </tr>
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Form Edition</td>
                        <td>0389</td>
                    </tr>
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Form Title</td>
                        <td>FAIR CREDIT REPORTING ACT</td>
                    </tr>                                        
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Status</td>
                        <td>Active</td>
                    </tr>
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Sequence</td>
                        <td>5000</td>
                    </tr>                                        
                	<!-- meta data key/value -->
                	<tr>
                    	<td style="font-weight:bold">Form ID</td>
                        <td>234234</td>
                    </tr>                    
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br/>
<h4 align="center">Form Secondary Data</h4>
<div id="menu" class="menu"></div>
<table border="0" cellspacing="5" id="detailsTable">
	<thead>
    <tr>
      <th>State</th>
      <th>LOB</th>
      <th>Company</th>
      <th>Policy Type</th>
      <th>Mandatory/Opt</th>
      <th>NB Eff Date</th>
      <th>Ren Eff Date</th>
      <th>Coverage Code</th>
      <th>Rule Id</th>
      <th>Print Category</th>
      <th>Event</th>
      <th>Level Indicator</th>
      <th>Premium Indicator</th>
      <th>Bulk Renewal</th>
    </tr>
    </thead>
    <tbody>   
    <tr>
      <td>Alabama</td>
      <td>Auto Monoline</td>
      <td>All</td>
      <td>&nbsp;</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Unit Owner's Special Coverage</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>New Business</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Alabama</td>
      <td>Home Monoline</td>
      <td>All</td>
      <td>HO-3</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Unit Owner's Special Coverage</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>New Business</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Arkansas</td>
      <td>Home Monoline</td>
      <td>All</td>
      <td>HO-4</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Unit Owner's Special Coverage</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>New Business</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>California</td>
      <td>Home Monoline</td>
      <td>All</td>
      <td>HO-6</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Unit Owner's Special Coverage</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>Renewal</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Alabama</td>
      <td>Auto Package</td>
      <td>All</td>
      <td>A</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Discount on Premises Alarm Systems</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>Renewal</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Alabama</td>
      <td>Auto Monoline</td>
      <td>All</td>
      <td>&nbsp;</td>
      <td>Optional</td>
      <td>12/15/1987</td>
      <td>01/01/1965</td>
      <td>Discount on Premises Alarm Systems</td>
      <td>Liability Coverage </td>
      <td>&nbsp;</td>
      <td>Renewal</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>

</div>
</body>		
</html>