.hideme {
	display: none;
}
body {
	font-family: VistaSans, Calibri;
	font-size: 14px;
}
input, label, select {
	display: block;
}

label {
	font-weight:bold;
	font-size:16px;
}

.leftLabel {

}

.rightValue {

}

.content-wrapper {
  display:table;
}

.content-row {
  display:table-row;
  
}

.content-row > div {
  display:table-cell;
  width: 100px;
}

.content-label {
	font-weight: bold;
	font-size: 14px;
	color: #165788;
}

option	 {
	font-family: VistaSans, Calibri;
	font-size: 14px;
}

img {
	border: 0;
}
img.icon {
	width: 24px;
	height: 21px;
}

.error {
	color: red;
}

/**
 * override styles in jquery-ui.css
 */
table#detailsTable .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
/*    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
 */
 	background: none;
    border: 1px solid #D3D3D3;
    background-color: #E3E0DE;
	color: #165788;
    font-weight: bold;
}